@using ML.BC.Infrastructure;
@using ML.BC.Web.Framework;
@section CSS{
    <style>
        .number {
        }
    </style>
}
<div id="Content" class="Content ClearFloat">

    <div class="btnbartitle">
        <div>
            报表管理 - <span id="OrganizationName">工作人员统计</span>
        </div>
    </div>
    <div id="tb1" class="tools_bar">
        @Html.Button(() => true, "刷新", new { @class = "tools_btn", onclick = "Replace()", title = "刷新页面" }, new { @class = "btn_Refresh" }, true, true)
        @Html.Button(() => true, "离开", new { @class = "tools_btn", onclick = "ThisCloseTab()", title = "关闭当前窗口" }, new { @class = "btn_Back" }, true, true, false)
    </div>
    <!--搜索-->
    <div class="btnbarcontetn">
        <div>
            <table border="0" class="frm-find">
                <tbody>
                    <tr>
                        <th>
                            查询条件:
                        </th>
                        <td>
                            <input class="easyui-textbox" data-options="prompt:'请输入人员名称',icons:[{iconCls:'icon-clear',handler: function(e){$(e.data.target).textbox('clear')}}]" name="UserName" id="UserName" />
                        </td>
                        <td>
                            <input class="easyui-datetimebox" style="width:200px" data-options="prompt:'开始时间',icons:[{iconCls:'icon-clear',handler: function(e){$(e.data.target).textbox('clear')}}],editable:false" id="StartTime" />
                        </td>
                        <td>
                            <input class="easyui-datetimebox" style="width:200px" data-options="prompt:'结束时间',icons:[{iconCls:'icon-clear',handler: function(e){$(e.data.target).textbox('clear')}}],editable:false" id="EndTime" />
                        </td>
                        <td>
                            <input type="button" onclick="Search()" value="搜 索" class="btnSearch" id="btnSearch">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table id="dg_DataTable" class="easyui-datagrid DataContent"
           data-options="rownumbers:true,singleSelect:true,pagination:true,fitColumns:true,url:'@Html.Url("ReportForm_default", "GetPersonStatisData", "PersonStatistics")',loadFilter:loadFilter,pageList:[1,10,20,30,50,100], onClickRow: onClickRow">
        <thead>
            <tr>
                <th data-options="field:'userName',width:100,align:'center'">
                    用户名
                </th>
                <th data-options="field:'projCount',width:90,align:'center'">
                    项目数
                </th>
                <th data-options="field:'sceneCount',width:90,align:'center'">
                    现场数
                </th>
                <th data-options="field:'imageCount',width:90,align:'center'">
                    图片数
                </th>
                <th data-options="field:'imageSize',width:90,formatter:numberSizeFormat,align:'center'">
                    图片大小
                </th>

            </tr>
        </thead>
    </table>

</div>
@section scripts{
    <script type="text/javascript">

        function numberSizeFormat(value) {
            if (value < 1024) {
                return value + "B";
            }
            if (value < 1024 * 1024) {
                return (value / 1024).toFixed(1) + "KB";
            }
            if (value < 1024 * 1024 * 1024) {
                return (value / (1024 * 1024)).toFixed(2) + "MB";
            }
            if (value < 1024 * 1024 * 1024 * 1024) {
                return (value / (1024 * 1024 * 1024)).toFixed(4) + "GB";
            }
            return (value / (1024 * 1024 * 1024 * 1024)).toFixed(6) + "TB";
        }

        function Search() {
            var q = {};
            q.UserName = $('#UserName').textbox('getValue');
            q.startTime = $("#StartTime").datetimebox("getValue");
            q.endTime = $("#EndTime").datetimebox("getValue");
            $("#dg_DataTable").datagrid('options').queryParams = q;
            $("#dg_DataTable").datagrid("load");
        }
        function Reload() {
            $('#ProjectName').textbox("setValue", "");
            $("#dg_DataTable").datagrid('options').queryParams = {};
            $("#dg_DataTable").datagrid("reload");
        }

        var clickrow = -1;

        function onClickRow(row) {
            if (row == clickrow) {
                $("#dg_DataTable").datagrid("unselectRow", row);
                clickrow = -1;
                return;
            }
            clickrow = row;
        }
        //数据过滤
        function loadFilter(data) {
            if (data.Value != null) {

                return data.Value;
            }
            showTipsMsg("获取到的数据为空!", 4000, 2)
            return { total: 0, rows: [] };

        }

    </script>
}

