<unity  xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="ML.BC.Web.Framework.IBCSession,ML.BC.Web.Framework" mapTo="ML.BC.Web.Framework.BCEnterpriseSession,ML.BC.Web.Framework" />
    <register type="ML.BC.Services.IEnterpriseAccountService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseAccountService,ML.BC.Services" />
    <register type="ML.BC.Services.IPermissionControlService,ML.BC.Services" mapTo="ML.BC.Services.PermissionControlService,ML.BC.Services" />
    <register type="ML.BC.Services.ISyncStateManagementService,ML.BC.Services" mapTo="ML.BC.Services.SyncStateManagementService,ML.BC.Services" />
    <register type="ML.BC.Infrastructure.Caching.ICacheManager,ML.BC.Infrastructure" mapTo="ML.BC.Infrastructure.Caching.MemoryCacheManager,ML.BC.Infrastructure" />
    <register type="ML.BC.Services.IEnterpriseUserManagementService,ML.BC.Services" mapTo="ML.BC.Services.FrontUserManagementService,ML.BC.Services" />
    <register type="ML.BC.Services.IEnterpriseRoleManagementService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseRoleManagementService,ML.BC.Services" />
    <register type="ML.BC.Services.IFrontUserRoleManagementService,ML.BC.Services" mapTo=" ML.BC.Services.FrontUserRoleManagementService,ML.BC.Services" />
    <register type="ML.BC.Services.IEnterpriseDepartmentManagementService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseDepartmentManagementService,ML.BC.Services" />
    <register type="ML.BC.Services.IMaterialTypeManagementService,ML.BC.Services" mapTo="ML.BC.Services.MaterialTypeManagementService,ML.BC.Services" />
    <register type="ML.BC.Services.IFrontUserManagementService,ML.BC.Services" mapTo="ML.BC.Services.FrontUserManagementService,ML.BC.Services" />
    <register type="ML.BC.Services.Common.IUniqeIdGenerator,ML.BC.Services" mapTo="ML.BC.Services.Common.UniqeIdGenerator,ML.BC.Services" />
    <register type="ML.BC.Services.IEnterpriseFunctionManagementService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseFunctionManagementService,ML.BC.Services" />
    <register type="ML.BC.Services.ISceneTypeManagementService,ML.BC.Services" mapTo="ML.BC.Services.SceneTypeManagementService,ML.BC.Services" />
    <register type="ML.BC.Services.IRoleFunctionManagementService,ML.BC.Services" mapTo="ML.BC.Services.RoleFunctionManagementService,ML.BC.Services"/>
    <register type="ML.BC.Services.ISceneItemManagementService,ML.BC.Services" mapTo="ML.BC.Services.SceneItemManagementService,ML.BC.Services"/>
    <register type="ML.BC.Services.Common.IOperationLogService,ML.BC.Services" mapTo="ML.BC.Services.Common.OperationLogService,ML.BC.Services"/>
    <register type="ML.BC.Services.IProjectSceneManagementService,ML.BC.Services" mapTo="ML.BC.Services.ProjectSceneManagementService,ML.BC.Services"/>
    <register type="ML.BC.Services.IEnterpriseManagementService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseManagementService,ML.BC.Services"/>
    <register type="ML.BC.Infrastructure.MsmqHelper.IMsmqProvider,ML.BC.Infrastructure" mapTo="ML.BC.Infrastructure.MsmqHelper.MsmqProvider,ML.BC.Infrastructure"/>
    <register type="ML.BC.Services.Common.IAppSyncService,ML.BC.Services" mapTo="ML.BC.Services.Common.AppSyncService,ML.BC.Services" />
    <register type="ML.BC.Services.IChatMessageService,ML.BC.Services" mapTo="ML.BC.Services.ChatMessageService,ML.BC.Services" />
    <register type="ML.BC.Services.IProjectStatisticsService,ML.BC.Services" mapTo="ML.BC.Services.ProjectStatisticsService,ML.BC.Services" />
    <register type="ML.BC.Services.IDepartmentInfoFormService,ML.BC.Services" mapTo="ML.BC.Services.DepartmentInfoFormService,ML.BC.Services" />

  </container>
</unity>