@{Layout="~/Views/Shared/_IframeLayout.cshtml";}
<div style="height:99.9%;">
    <div style="width:100%;height:670px">
        <div style="background: url('/Content/Images/subhomepage.jpg') no-repeat; width: 100%; height: 100%; background-position: 0 0; background-size: 100%; "></div>
    </div>
</div>
 