
<div id="MsgContainer" class="MsgContainer">
    <div id="SysMsg_" class="Msg" style="display:none">
        <!--       <div id="sub" style="position:absolute;top:50%"> <div id="content" style="position:relative;top:-50%">0000</div> </div>-->
    </div>
         <div id="SysMsg_0" class="Msg MsgSuccess" style="display:none">
            成功后的信息
        </div>
     <div id="SysMsg_1" class="Msg MsgWaiting" style="display:none">
        等待中的信息
    </div>
     <div id="SysMsg_2" class="Msg MsgError" style="display:none">
        错误时候的信息
    </div>
     <div id="SysMsg_3" class="Msg MsgInfo" style="display:none">
        其他提示信息
    </div>
</div>
