.detail-content {
    width: 100%;
}

#detail-content {
    margin-bottom: 15px;
}

.scene-item {
    border: 1px solid #c9d8e8;
    margin-bottom: -1px;
    background-color: #dbe8f5;
    width: 100%;
}

.item_poster {
    width: 98px;
    display: inline-block;
    height: 100%;
    position: relative;
    text-align: center;
    float: left;
    word-break: break-all;
}

.container_s {
    display: inline-block;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 88.3%;
    border-left: 1px solid #c9d8e8;
    float: left;
}

.info-banner {
    margin-left: 10px;
    display: inline-block;
    position: relative;
}

.item-time {
    color: #999999;
}

.line-one span {
    margin-right: 10px;
}

.item-status {
    color: #006600;
}

.item-action-group {
    position: relative;
    height: 20px;
    margin-top: 6px;
}

.action {
    color: #3366cc !important;
    margin-right: 10px;
}

.item-content-c {
    position: relative;
    margin-left: 10px;
    width: 97%;
}

.item-content {
    background-color: rgb(233, 247, 238);
    padding: 10px;
    -webkit-border-radius: 4px;
    overflow-wrap: break-word;
    height: auto;
}

.comment-container {
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
    -webkit-border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 94.5%;
}

.cmtname {
    color: #3366cc;
}

.cmttime {
    margin-left: 10px;
    color: #999999;
}

.delete-comment {
    color: #3366cc !important;
    margin-left: 10px;
}

.comment-new {
    background: url('/content/images/%E6%8C%89%E9%92%AE%E8%83%8C%E6%99%AF.png');
    height: 23px;
    display: inline-block;
    width: 62px;
    padding-left: 12px;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: -2px;
    background-repeat: no-repeat;
    background-size: contain;
}

.comment_button_container {
    height: 26px;
    width: 95%;
    display: block;
    border: 1px solid gray;
    padding-top: 0px;
    margin-left: 2px;
    align-items: center;
    background-image: url('/content/images/按钮背景.png');
    background-size: 108% 26px;
    background-position-x: -34px;
    text-align: center;
}

.comment_button {
    font-size: 19px;
}

.cmt_content {
    margin-left: 10px;
    word-break: break-all;
    word-wrap: break-word;
}

.item_avartar {
    width: 78px;
    height: 78px;
    margin-top: 9px;
    margin-left: 4px;
    border: 1px solid rgb(203, 197, 197);
}

.searched_row {
    background-color: thistle;
    color: black;
}

.datagrid-row-selected {
    background: #0092DC;
    color: #fff;
}

.combo-panel {
    max-height: 300px;
}

.img_close {
    background: url(/Content/Images/close1.png);
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
    border-radius: 21px;
    background-size: 19px 19px;
    cursor: pointer;
    margin-left: 4px;
    transition: background .1s linear;
}

.img_anchor {
    position: relative;
    float: left;
}

.item-img {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    margin-left: 2px;
}
