<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Security.Cryptography" version="5.0.505.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net45" />
  <package id="log4mongo-net" version="0.10.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="ThinkNet" version="2.5.0" targetFramework="net45" />
  <package id="ThinkNet.Unity" version="1.0.0" targetFramework="net45" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net45" />
</packages>