<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BCBackContext" connectionString="metadata=res://*/Model.BCBackDataModel.csdl|res://*/Model.BCBackDataModel.ssdl|res://*/Model.BCBackDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.21;initial catalog=BCBackDB;user id=bcdevelopment;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BCEnterpriseContext" connectionString="metadata=res://*/Model.EnterpriseDataModel.csdl|res://*/Model.EnterpriseDataModel.ssdl|res://*/Model.EnterpriseDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.21;initial catalog=BCEnterpriseDB;user id=bcdevelopment;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MongoBCEnterpriseDB" connectionString="mongodb://192.168.0.22:27017/BCEnterpriseDB" />
    <add name="BaseUrlByName" connectionString="http://192.168.1.108:8998/Handlers/Image.ashx?fileName=" />
    <add name="BaseUrlById" connectionString="http://192.168.1.16/picsById/" />
    <add name="UserPictureUrl" connectionString="http://192.168.1.108:8998/" />
    <!--true:本地队列，支持Create新的队列。false：远程队列，不支持Create，只能远程发送消息-->
    <add name="MsmqPath" connectionString=".\private$\myQueue/true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="ML.BC.Web.Framework.IBCSession,ML.BC.Web.Framework" mapTo="ML.BC.Web.Framework.BCEnterpriseSession,ML.BC.Web.Framework" />
      <register type="ML.BC.Services.IEnterpriseAccountService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseAccountService,ML.BC.Services" />
      <register type="ML.BC.Services.IPermissionControlService,ML.BC.Services" mapTo="ML.BC.Services.PermissionControlService,ML.BC.Services" />
      <register type="ML.BC.Services.ISyncStateManagementService,ML.BC.Services" mapTo="ML.BC.Services.SyncStateManagementService,ML.BC.Services" />
      <register type="ML.BC.Infrastructure.Caching.ICacheManager,ML.BC.Infrastructure" mapTo="ML.BC.Infrastructure.Caching.MemoryCacheManager,ML.BC.Infrastructure" />
      <register type="ML.BC.Services.IEnterpriseUserManagementService,ML.BC.Services" mapTo="ML.BC.Services.FrontUserManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.IEnterpriseRoleManagementService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseRoleManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.IFrontUserRoleManagementService,ML.BC.Services" mapTo=" ML.BC.Services.FrontUserRoleManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.IEnterpriseDepartmentManagementService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseDepartmentManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.IMaterialTypeManagementService,ML.BC.Services" mapTo="ML.BC.Services.MaterialTypeManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.IFrontUserManagementService,ML.BC.Services" mapTo="ML.BC.Services.FrontUserManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.Common.IUniqeIdGenerator,ML.BC.Services" mapTo="ML.BC.Services.Common.UniqeIdGenerator,ML.BC.Services" />
      <register type="ML.BC.Services.IEnterpriseFunctionManagementService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseFunctionManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.ISceneTypeManagementService,ML.BC.Services" mapTo="ML.BC.Services.SceneTypeManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.IRoleFunctionManagementService,ML.BC.Services" mapTo="ML.BC.Services.RoleFunctionManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.ISceneItemManagementService,ML.BC.Services" mapTo="ML.BC.Services.SceneItemManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.Common.IOperationLogService,ML.BC.Services" mapTo="ML.BC.Services.Common.OperationLogService,ML.BC.Services" />
      <register type="ML.BC.Services.IProjectSceneManagementService,ML.BC.Services" mapTo="ML.BC.Services.ProjectSceneManagementService,ML.BC.Services" />
      <register type="ML.BC.Services.IEnterpriseManagementService,ML.BC.Services" mapTo="ML.BC.Services.EnterpriseManagementService,ML.BC.Services" />
      <register type="ML.BC.Infrastructure.MsmqHelper.IMsmqProvider,ML.BC.Infrastructure" mapTo="ML.BC.Infrastructure.MsmqHelper.MsmqProvider,ML.BC.Infrastructure" />
      <register type="ML.BC.Services.Common.IAppSyncService,ML.BC.Services" mapTo="ML.BC.Services.Common.AppSyncService,ML.BC.Services" />
      <register type="ML.BC.Services.IChatMessageService,ML.BC.Services" mapTo="ML.BC.Services.ChatMessageService,ML.BC.Services" />
      <register type="ML.BC.Services.IProjectStatisticsService,ML.BC.Services" mapTo="ML.BC.Services.ProjectStatisticsService,ML.BC.Services" />
      <register type="ML.BC.Services.IDepartmentInfoFormService,ML.BC.Services" mapTo="ML.BC.Services.DepartmentInfoFormService,ML.BC.Services" />
    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>